@import "tailwindcss";

.container {
  /* to make padding works even in mobile size screens */
  padding-right: 6px;
  padding-left: 6px;
  /* to set all elements in the center vertically */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  /* width: calc( 100% - 200px );  */
  width: 100%;
  position: relative;
}

