@import "tailwindcss";

@theme {
  --color-pink-400: #DE9DE5;
  --font-quicksand: "Quicksand", sans-serif;
}

:root {
  font-family: var(--font-quicksand);
}

.mainContainer {
  /* to make padding works even in mobile size screens */
  padding-right: 6px;
  padding-left: 6px;
  /* to set all elements in the center vertically */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  /* width: calc( 100% - 200px );  */
  width: 84%;
  position: relative;
}


/* Hide scrollbar everywhere */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}